/* ----- Fonts ----- */

@font-face {
    font-family: indie-flower;
    src: url('../fonts/IndieFlower.ttf');
}

@font-face {
    font-family: mina-regular;
    src: url('../fonts/Mina-Regular.ttf'),
}

@font-face {
    font-family: nunito-regular;
    src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
    font-family: pacifico-regular;
    src: url('../fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: raleway-regular;
    src: url('../fonts/Raleway-Regular.ttf');
}

/* ----- Globals ----- */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    text-align: center;
    background: url('../img/back.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: nunito-regular;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    margin: 0;
}

h1 {
    font-size: 40px;
}

canvas {
    /* display: block; */
    max-width: 800px;
    max-height: 600px;
    border: 1px solid black;
    margin-right: 20px;
}

/* ----- flex ----- */

.flex {
    display: flex;
}

.direction-column {
    flex-direction: column;
}

.inline-flex {
    display: inline-flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-full {
    flex: 1;
}

.flex-column {
    flex-direction: column;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-start {
    align-items: flex-start;
}

.flex-self {
    align-self: flex-start;
}

.flex-end-self {
    justify-self: end;
}

.flex-self-center {
    align-self: center;
}

.justify-content {
    align-content: center;
}

/* ----- helpers ----- */

.clear-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clear-btn {
    border: none;
    background: transparent;
    padding: 0;
}

.clear-btn:focus {
    outline: none;
}

/* ----- Header ----- */

header {
    height: 5.75rem;
    width: 100%;
    background: #071013;
    margin: 0;
    margin-bottom: 50px
}

main {
    height: 100%;
    width: 100%;
}

nav {
    height: 100%;
}

.logo {
    display: inline;
    color: #FFFDEF;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: pacifico-regular;
}

.navbar-container {
    height: 100%;
}

.navbar-container ul {
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.navbar-container ul li {
    /* background-color: red; */
    list-style-type: none;
    height: 100%;
    padding: 20px;
    position: relative;
    width: 120px;
}

.navbar-container ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: #AF9238;
}

.navbar-container li:hover::after {
    animation-name: flip;
    animation-iteration-count: infinite;
    transform-origin: center;
    animation-duration: 0.7s;
    animation-fill-mode: both;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f106";
    color: #AF9238;
}

.navbar-container li:hover {
    box-shadow: inset 0px 10px 9px -6px #AF9238;
}

.meme-gen {
    width: 100%;
    height: 100vh;
    /* background-color: rgba(10, 10, 10, 0.548); */
    background: rgba(175, 145, 56, 0.514);
    position: relative;
}

nav .logo-pic {
    background-size: cover;
    width: 126.33px;
    overflow-y: visible;
    height: 133.33px;
}

form {
    background: rgba(229, 200, 156, 0.801);
}

/* ----- Main ----- */

/* Keywords Box */

.keywords-modal {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(49, 49, 49, 0.714);
}

.keywords-box {
    position: relative;
    background-color: #000;
    color: white;
    border: solid 2px #fff;
    box-shadow: 0px 0 20px #fff;
    width: 30rem;
    min-height: 30rem;
}

.keywords-box button {
    position: absolute;
    top: 15px;
    right: 20px;
    color: inherit;
    transition: transform 0.3s;
}

.keywords-box button:hover {
    transform: scale(1.5);
}

/* Gallery - Grid */

.gallery-grid {
    display: grid;
    width: 98vw;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 180px;
    grid-gap: 10px;
}

.gallery-grid div {
    background-size: cover;
}

.gallery-grid div:hover {
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

section.gallery {
    margin-bottom: 50px;
}

/* About */

.about {
    width: 100%;
    height: 21.875rem;
    /* #AF9238 */
    background: rgba(175, 145, 56, 0.815);
    box-shadow: 0px 0px 10px 0px #696969;
    color: #001B33;
}

.about .container {
    padding: 10px;
    height: 100%;
}

.about-item:first-child {
    border-right: 1px solid rgba(255, 255, 255, 0.342);
}

.about-item:last-child {
    border-left: 1px solid rgba(255, 255, 255, 0.342);
}

.about-item {
    padding: 20px;
}

.about-pic {
    background-size: cover;
    width: 250px;
    height: 70%;
}

.about-info {
    width: 100%;
    padding: 20px 60px;
    height: 100%;
}

.about-info h2 {
    font-size: 1.7em;
}

.about-info h4 {
    font-size: 1.3em;
    color: rgba(255, 253, 239, 0.815);
}

.about-info p {
    font-size: 1.125rem;
}

.social {
    width: 60px;
}

.social-itay {
    align-self: flex-end;
}

.social a {
    color: #001B33;
}

.social a:hover {
    color: #FFFDEF;
}

.itay-pic {
    background-image: url("../img/itay.jpg");
}

.nitai-pic {
    background-image: url("../img/nitai.jpg");
}

.hide {
    display: none;
}

.btn-close-gallery {
    position: absolute;
    top: 5%;
    right: 5%;
}

.edit-pic {
    /* position: absolute; */
    height: 600px;
    width: 300px;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.meme-text-input {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 0px;
    font-family: Georgia;
    color: #FFFDEF;
    border: 3px solid #AF9238;
    background-color: #001B33;
    line-height: 3;
    padding-left: 8px;
    font-size: 18px;
}

.meme-text-input:focus {
    border: 5px solid #AF9238;
}

.btn-container input[type=radio] {
    display: none;
}

.btn-container input[type=radio]+label {
    padding: 5px;
}

.btn-container input[type=radio]:checked+label {
    color: white;
}

.btn-container button {
    margin-right: 5px;
}

.submit-btn {
    flex-grow: 1;
}

input[type="search"] {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    width: 200px;
    padding: 0px;
    font-family: Georgia;
    color: #FFFDEF;
    border: 2px solid #AF9238;
    background-color: #001B33;
    line-height: 3;
    padding-left: 8px;
    font-size: 18px;
}

.key-btn {
    background-color: #001B33;
    color: #FFFDEF;
    border: 2px solid #AF9238;
    height: 54px;
    width: 140px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
}

button {
    border: 2px solid #AF9238;
    background-color: #001B33;
    color: #FFFDEF;
}

select {
    border: 2px solid #AF9238;
    background-color: #001B33;
    color: #FFFDEF;
}

.btn-color-change {
    border: 2px solid #AF9238;
    background-color: #001B33;
    color: #FFFDEF;
}

.ph-button {
    border-style: solid;
    border-width: 0px 0px 3px;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    color: #FFFFFF;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 200ms ease-in-out 0s;
    white-space: nowrap;
    font-family: "Gotham Rounded A", "Gotham Rounded ;

}